/*Katrine*/

.container {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .box {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .motion-img {
    width: 100%;
    max-width: 100%;
  }
  
  .box2 {
    width: 100%;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 18px;
    font-size: 24px;
    margin-top: 50px;
  }
  
  .box3 {
    flex-basis: 100%;
    font-size: 24px;
    color: black; 
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
  }
  
  .headline {
    text-align: center;
    color: #008536;
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .parkering-leje {
    font-weight: bold;
  }
  
  @media screen and (max-width: 834px) {
    .box1 {
        width: 100%;
        background-size: 100% 45%;
    }
  
    .box2 {
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
  
    .box3 {
        flex-basis: 100%;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
  }

  @media screen and (max-width: 428px) {
    .box2 {
      margin-top: 10px;
    }

    .box3 {
      margin-top: 10px;
    }

   
  }